*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
body{
    font-family: '微软雅黑';
    background-color: #efefef;
}
.myResume{
    width: 1000px;
    /*height: 1400px;*/
    margin: 0 auto;
    overflow: hidden;
}
.myResume .map{
    width: 100%;
    height: 30px;
    padding-left: 25px;
    line-height: 30px;
    background: url('../images/map.png') no-repeat 3px 5px;
}
.myResume .map>a{
    text-decoration: none;
    font-size: 16px;
    color: #484848;
}
.myResume .map>p{
    display: inline-block;
    color: #484848;
}

.briefInfo{
    float: left;
    width: 280px;
    /*height: 1385px;*/
    height:100%;
    background: #679096;
    color: #fff;
    padding-top: 15px;
}


.briefInfo .intention{
    text-align: center;
}
.briefInfo .intention>h3{
    margin: 15px 0;
}
.briefInfo .intention>h4{
    margin: 10px 0;
}
.briefInfo .intention .resumePic{
    width: 160px;
    height: 200px;
    border: 6px solid #fff;
    /*border-radius: 10px;*/
    margin: 0 auto;
}
.briefInfo .intention .resumePic img{
    width: 100%;
    height: 100%;
}
.briefInfo .intention>p{
    margin: 20px 0;
}
.briefInfo .baseInfo{

}
.briefInfo .baseInfo>h3{
    display: inline-block;
    width: 265px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    background-color: #69a;
    box-shadow: 0 -5px 2px #678;
    position: relative;
}
.briefInfo .baseInfo>p{
    line-height: 30px;
    padding-left: 40px;
}
.briefInfo .baseInfo>p:nth-child(2){
    margin-top: 15px;
}

.briefInfo .condition{
    margin-top: 25px;
}
.briefInfo .condition>h3{
    display: inline-block;
    width: 265px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    background-color: #69a;
    box-shadow: 0 -5px 2px #678;
    position: relative;
}
.briefInfo .condition>p{
    margin-top: 15px;
    padding: 0 15px;
    line-height: 26px;
}

.briefInfo .comMySelf{
    margin-top: 25px;
}
.briefInfo .comMySelf>h3{
    display: inline-block;
    width: 265px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    background-color: #69a;
    box-shadow: 0 -5px 2px #678;
    position: relative;
}
.briefInfo .comMySelf>p{
    margin-top: 15px;
    padding: 0 15px;
    line-height: 26px;
}
.detailsInfo{
    float: left;
    width: 650px;
    /*height: 1340px;*/
    background: #fff;
    height:100%;
    padding-left: 40px;
    padding-top: 60px;
    padding-right: 30px;
    background-color: #f8f8f8;
}
.detailsInfo .detMoudel{
    margin-bottom: 25px;
}
.detailsInfo .detMoudel .detMoudel1{
    display: inline-block;
    width: 10px;
    height: 40px;
    background-color: #679096;
    transform: skew(-20deg,0);
}
.detailsInfo .detMoudel .detMoudel2{
    display: inline-block;
    width: 300px;
    height: 40px;
    background-color: #679096;
    transform: skew(-20deg,0);
    vertical-align: top;
}
.detailsInfo .detMoudel .detMoudel2>h3{
    display: inline-block;
    width: 150px;
    line-height: 40px;
    color: #efefef;
    text-align: center;
    transform: skew(20deg,0);
}
.detailsInfo .detMoudel .detMoudel2>p{
    display: inline-block;
    line-height: 40px;
    color: #fff;
    text-align: center;
    transform: skew(20deg,0);
}
.detailsInfo .detMoudel .detMoudel3{
    display: inline-block;
    width: 300px;
    height: 16px;
    background-color: #679096;
    vertical-align: top;
    transform: skew(-20deg,0);
    position: relative;
    left: -2px;
}

.detailsInfo .detMoudel>p{
    padding: 0 40px;
    color: #484848;
    line-height: 30px;
    font-size: 18px;
}
.detailsInfo .detMoudel .toBig{
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
}